<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Admin Page </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>

<div class id="intro">
    <div class id="container" style="width: 970px; margin: 0 auto;">
        <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"
           th:utext="#{label.create.project}"
           th:href="@{/security/project/create}">Create project</a>

        <div th:each="project :${projects}">
            <div class="row" id="admin_panel">
                <div class="col">
                    <div class="col-lg-10 mt-5 mb-5">
                        <p class="h4" th:utext="#{label.project}"></p>
                        <table class="table table-bordered" style="width: 100%">
                            <thead>
                            <tr>
                                <th th:utext="#{label.id}"></th>
                                <th th:utext="#{label.title}"></th>
                                <th th:utext="#{label.status}"></th>
                                <th>Admin Id</th>
                                <th colspan="2" th:utext="#{label.actions}"></th>
                            </tr>
                            </thead>
                            <tbody style="background:#ccc">
                            <tr>
                                <td th:text="${project.id}" style="text-align: center"></td>

                                <td th:text="${project.title}" style="text-align: center"></td>

                                <td th:text="${project.status}" style="text-align: center"></td>

                                <td th:text="${project.user.getFullName()}" style="text-align: center"></td>

                                <td>
                                    <a th:utext="#{label.update}"
                                       th:href="@{/security/project/update/{id}(id=${project.id})}"></a>
                                </td>

                                <td>
                                    <a class="delete_project" th:utext="#{label.delete}"
                                       th:data-project-id="${project.id}"
                                       th:href="@{/security/project/delete}"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <p class="h4" th:utext="#{label.project.tasks}"></p>
                    <th:block th:if="${project.tasks!=null and !project.tasks.empty}">
                        <table class="table table-bordered" style="width: 100%">
                            <thead>
                            <tr>
                                <th th:utext="#{label.id}"></th>
                                <th th:utext="#{label.title}"></th>
                                <th th:utext="#{label.start.date}"></th>
                                <th th:utext="#{label.expiration.date}"></th>
                                <th th:utext="#{label.executor}"></th>
                                <th th:utext="#{label.status}"></th>
                                <th colspan="2" th:utext="#{label.actions}"></th>
                            </tr>
                            </thead>
                            <tbody style="background:#ccc">
                            <tr th:each="task :${project.tasks}">

                                <td th:text="${task.id}" style="text-align: center"></td>

                                <td th:text="${task.title}" style="text-align: center"></td>

                                <td th:text="${task.startDate}" style="text-align: center"></td>

                                <td th:text="${task.endDate}" style="text-align: center"></td>

                                <td th:text="${task.executor.getFullName()}" style="text-align: center"></td>

                                <td th:text="${task.status}" style="text-align: center"></td>

                                <td>
                                    <a th:utext="#{label.update}" th:href="@{/security/task/update/{id}(id=${task.id})}"
                                    ></a>
                                </td>

                                <td>
                                    <a th:utext="#{label.delete}" class="delete_task" th:data-task-id="${task.id}"
                                       th:href="@{/security/task/delete}"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </th:block>
                    <a class="btn btn-secondary btn-lg active adding_task_project" role="button" aria-pressed="true"
                       th:utext="#{label.add.task}"
                       th:data-project_id="${project.id}"
                       th:href="@{/security/task/create/{id}(id=${project.id})}"></a>
                </div>
            </div>
            <div class="row">
                <p class="h4" th:utext="#{label.project.users}"></p>
                <th:block th:if="${project.projectUsers!=null and !project.projectUsers.empty}">
                    <table class="table table-bordered" style="width: 100%">
                        <thead>
                        <tr>
                            <th th:utext="#{label.user.id}"></th>
                            <th th:utext="#{label.user.first.name}"></th>
                            <th th:utext="#{label.user.last.name}"></th>
                            <th th:utext="#{label.user.middle.name}"></th>
                            <th th:utext="#{label.birthday}"></th>
                            <th th:utext="#{label.email}"></th>
                            <th th:utext="#{label.role}"></th>
                            <th colspan="2" th:utext="#{label.actions}"></th>
                        </tr>
                        </thead>
                        <tbody style="background:#ccc">
                        <tr th:each="user :${project.projectUsers}">

                            <td th:text="${user.id}" style="text-align: center"></td>

                            <td th:text="${user.firstName}" style="text-align: center"></td>

                            <td th:text="${user.lastName}" style="text-align: center"></td>

                            <td th:text="${user.middleName}" style="text-align: center"></td>

                            <td th:text="${user.birthday}" style="text-align: center"></td>

                            <td th:text="${user.email}" style="text-align: center"></td>

                            <td th:each=" role:${user.roles}" style="text-align: center">
                                <span th:text="${role.name}"></span>
                            </td>

                            <td>
                                <a class="modify_user" th:utext="#{label.update}" th:href="@{/}"></a>
                            </td>

                            <td>
                                <a class="delete_user_project" th:data-user-id="${user.id}"
                                   th:data-project_id="${project.id}"
                                   th:href="@{/security/project/delete/user}" th:utext="#{label.delete}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </th:block>
                <a class="btn btn-secondary btn-lg active adding_user_project" role="button" aria-pressed="true"
                   th:utext="#{label.add.user}"
                   th:data-project_id="${project.id}"
                   th:href="@{/security/project/add/user}"></a>
                <div id="add_user_to_project"></div>
            </div>
            <hr/>
        </div>
    </div>
</div>

<footer th:insert="fragments/footer.html :: footer"></footer>

<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>